*{
    margin: 0;
    padding: 0;
}
.container{
    background: linear-gradient(135deg, rgb(208, 183, 138), rgb(171, 131, 171));
    height: 100vh;
    padding-top: 100px;
}
form{
    max-width: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 25px;
    border-radius: 10px;
}
form div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
form h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: green;
}
form input{
    width: 70%;
    display: flex;
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid rgb(193, 187, 187);
    outline: 0;
}
form label{
    display: inline-block;
    width: 25%;
    font-size: 16px;
    font-weight: 700;
    color: #151515;
    padding: 5px 8px;
}
form button{
    width: 45%;
    margin: 0 auto;
    background-color: green;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 8px 0;
    border: 2px solid transparent;
}
form button:hover{
    background-color: rgb(203, 222, 203);
    border: 2px solid green;
    color: green;
}
.result-div{
    background-color: rgb(228, 137, 137);
    padding: 10px;
    margin-top: 20px;
    width: 70%;
    font-size: 22px;
    color: #151515;
    border-radius: 5px;
    text-align: center;
}
.red{
    background-color: rgb(0, 90, 128);
    color: #ffffff;
    /* background-color: rgb(219, 239, 242); */
}